{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'base.css' %}" />

    {% block extrahead %}

    {% endblock %}
</head>

<body>
    <nav><a href="{% url 'index' %}">Home</a> <a href="{% url 'second' %}">
            <second-page>Next</second-page>
        </a> </nav>
    <!-- 모든페이지에 공통적으로 들어가야할 요소들 -->


    {% block contents %}
    <!-- 페이지별로 다르게 보일 content를 입력하는 block -->
    {% endblock %}
</body>

</html>